.team {
    background-color: #F4F4FD;
}

/* ДОБАВЛЕНО/ОБНОВЛЕНО: задаем белый фон для самой карточки */
.team-item {
    background-color: #FFFFFF;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    /* Додано */
    color: #2E2F42;
    text-align: center;
    /* Додано центрування імені */
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* Додано */
    color: #434455;
    text-align: center;
    /* Додано центрування посади */
}